<turbo-frame th:fragment="profileSwiper(nickname,photos)" th:id="|swiper_${nickname}|" class="col-span-full md:col-span-6 md:col-start-2 rounded-xl overflow-clip bg-gray-800/30"
             data-controller="swiper" data-swiper-perview-value=3>
  <div class="swiper group" data-swiper-target="container">
    <div class="swiper-wrapper">
      <div th:each="photo: ${photos}"
           class="swiper-slide flex justify-center content-center">
        <img th:data-hash="${photo}" th:data-src="@{/api/photo/{photoName}(photoName=${photo})}"
             class="swiper-lazy">
        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
      </div>
    </div>
    <div class="swiper-button-prev swiperbutton group-hover:visible" data-swiper-target="prev">
    </div>
    <div class="swiper-button-next swiperbutton group-hover:visible" data-swiper-target="next">
    </div>
  </div>
</turbo-frame>