<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<turbo-frame  id="profile" class=" col-start-1 grid grid-cols-1 col-span-full max-w-[575px] lg:col-span-8 md:grid-cols-12 gap-2">
<form th:object="${profile}" th:action="@{/save}" method="post" data-controller="profilepic"
      class="rounded-xl overflow-clip bg-gray-800/30 col-span-full grid content-start grid-cols-1 gap-1 md:grid-cols-12 mx-auto auto-rows-min">
    <div class="object-cover col-span-full md:col-span-3 md:row-span-3" data-controller="swiper" data-action="swiper:picUpdate->profilepic#updateProfilepic" th:data-swiper-starthash-value="*{profilePhotoName}">
        <div class="swiper group" data-swiper-target="container">
            <div class="swiper-wrapper">
                <div th:each="photo: ${profile.photos}" class="swiper-slide flex justify-center content-center">
                    <img data-profilepic-target="pic"  th:data-hash="${photo}" th:data-src="@{/api/photo/{photoName}(photoName=${photo})}" class="swiper-lazy">
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>
            <div class="swiper-button-prev swiperbutton group-hover:visible" data-swiper-target="prev">
            </div>
            <div class="swiper-button-next swiperbutton group-hover:visible" data-swiper-target="next">
            </div>
        </div>
    </div>
    <input type="text" th:field="*{id}" hidden>
    <div class="border-none outline-none w-max col-start-1  md:col-start-4">
        <label for="nicknameInput">Nickname</label>
        <input type="text" th:field="*{nickname}" id="nicknameInput"
               class="bg-gray-800/30 rounded-md border-none outline-none h-min w-max" required>
    </div>
    <input type="text" th:field="*{id}" hidden>

    <div class="outline-none w-max col-start-1  md:col-start-4">
        <label for="hornlengthInput">Hornlänge</label>
        <input type="text" th:field="*{hornlength}" id="hornlengthInput"
               class="bg-gray-800/30 rounded-md border-none outline-none h-min w-max" required>
    </div>
    <div class="border-none outline-none w-max col-start-1 md:col-start-4">
        <label  for="genderInput">Geschlecht</label>
        <input type="text" th:field="*{gender}" id="genderInput"
               class="bg-gray-800/30 rounded-md border-none outline-none h-min w-max" required>
    </div>
    <div class="border-none outline-none w-max col-start-1 md:col-start-4">
        <label  for="birthdateInput">Geburtstag</label>
        <input type="date" th:field="${{profile.birthdate}}" id="birthdateInput"
               class="bg-gray-800/30 rounded-md border-none outline-none h-min w-max" required>
    </div>

    <div class="border-none outline-none w-max  col-start-1 col-span-full">
        <label for="descriptionInput">Description <br></label>
        <textarea th:name="description" th:field="*{description}" id="descriptionInput"
                  class="resize-none box-content  bg-gray-800/30 rounded-md border-none outline-none w-max" required></textarea>
    </div>
    <div class="border-none outline-none w-max col-start-1  md:col-start-4">
        <input type="text" th:field="*{profilePhotoName}" id="picnameInput"
               class="fixed scale-0" required th:data-profilepic-target="picname">
    </div>
    <button type="submit" class="app-button col-start-1 m-2">Speichern</button>
</form>
</turbo-frame>
</body>
</html>