<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script th:src="@{/js/bundle.js}" defer></script>
</head>
<body class="grid bg-gradient-to-r from-indigo-500 via-violet-500 via-purple-500 via-fuchsia-500 to-red-500">
<div th:replace="sidebar :: sidebar()"></div>
    <main class="grid grid-cols-12 grid-flow-col-dense grid-auto-cols-min py-20 mx-36 px-20">
    </main>
</body>
</html>