<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.build.tailwind.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <title>Date4U - Registration</title>
</head>
<body  class="bg-gradient-to-r from-indigo-500 via-violet-500 via-purple-500 via-fuchsia-500 to-red-500">
<form class="flex flex-col rounded-xl overflow-clip bg-gray-800/30 mx-auto p-10 max-w-[50%] w-fit gap-2 place-items-center" th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8">
  <div class="flex gap-2">
    <label >nickname</label>
    <div class="self-end"><input th:field="*{nickname}"/></div>
    <p class="text-red-700 bg-gray-800/30"  th:each="error: ${errors.get('nickname')}"
       th:text="${error}">Validation error</p>
  </div>
  <div class="flex gap-2">
    <label>email</label>
    <div class="self-end"><input class="self-end" type="email" th:field="*{email}"/></div>
    <p class="text-red-700 bg-gray-800/30"  th:each="error : ${errors.get('email')}"
       th:text="${error}">Validation error</p>
  </div>
  <div class="flex gap-2">
    <label>password</label>
    <div class="self-end"><input class="self-end" type="password" th:field="*{password}"/></div>
    <p class="text-red-700 bg-gray-800/30"  th:each="error : ${errors.get('password')}"
       th:text="${error}">Validation error</p>
  </div>
  <div class="flex gap-2">
    <label >confirm password</label>
    <div class="self-end"><input class="self-end" type="password" th:field="*{matchingPassword}"/>
    </div>
    <p class="text-red-700 bg-gray-800/30" th:each="error : ${errors.get('password')}"
       th:text="${error}">Validation error</p>
  </div>
  <button class="app-button" type="submit" >submit</button>
</form>

<a th:href="@{/login}" >login</a>
</body>
</html>